@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: "Densa";
    src: url("fontspring-demo-densa_black-webfont.woff2") format("woff2"),
         url("fontspring-demo-densa_black-webfont.woff") format("woff");
    font-weight: black;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Densa", "Roboto", sans-serif;
}

:root {
    --color-primary: #0c0f16;
    --color-secondary: #050609;
    --color-white: #fff;
    --color-white2: #cecece;
    --color-white3: #777777;
    --color-black-1: #0C0F16;
}

body {
    width: 100%;
    overflow-x: hidden;
}

.announcement-bar {
    display: block;
    width: 100%;
    background-color: var(--color-white);
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    transition: 0.3s ease;
}

.announcement-bar:hover {
    background-color: var(--color-white2)
}

.announcement-bar p {
    color: var(--color-black-1);
    font-size: 14px;
    letter-spacing: 1px;
    font-family: "Roboto", sans-serif;
    display: inline-block;
}

.nav-container {
    width: 100%;
    height: 90px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    display: flex;
    justify-content: center;
    gap: 0rem;
    background-color: var(--color-primary);
    align-items: center;
    padding: 0 2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.nav-logo {
    width: 175px;
    padding: 1rem 0;
}

.nav-logo img {
    width: 100%;
    object-fit: cover;
    transition: 0.3s ease;
}

.nav-logo img:hover {
    color: var(--color-primary);
    background-color: var(--color-secondary);
}

.nav-links-container {
    display: flex;
    justify-content: center;
    padding: 16px 0;
}

.nav-links {
    list-style: none;
}

.nav-links > .nav-link-item {
    display: inline-block;
    margin: 2px;
    position: relative;
}

.nav-links > .nav-link-item > a {
    text-decoration: none;
    display: flex;
    padding: 16px 20px;
    color: var(--color-white);
    font-size: 20px;
    transition: 0.3s ease;
    align-items: center;
}

.nav-links > .nav-link-item:hover > a {
color: var(--color-white);
background-color: var(--color-secondary);
}

.nav-link-item > a > .fa-chevron-down {
    display: inline-block;
    height: 24px;
    width: 16px;
    margin-left: 8px;
    transition: 0.3s ease;
    pointer-events: none;
}

.nav-link-item:hover > a > .fa-chevron-down {
    transform: rotate(-180deg);
}

.nav-links > .nav-link-item > .dropdown-menu {
    width: 200px;
    position: absolute;
    top: 80%;
    left: 16px;
    overflow: hidden;
    background-color: var(--color-primary);
    transform: translateY(0);
    transition: 0.3s ease;
    visibility: hidden;
    opacity: 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.nav-links > .nav-link-item:hover > .dropdown-menu {
transform: translateY(8px);
visibility: visible;
opacity: 1;
}

.nav-links > .nav-link-item > .dropdown-menu > .dropdown-menu-item {
    list-style: none;
}

.nav-links > .nav-link-item > .dropdown-menu > .dropdown-menu-item > a {
    text-decoration: none;
    display: block;
    color: var(--color-white);
    font-size: 20px;
    transition: 0.3s ease;
    padding: 16px;
}

.nav-links > .nav-link-item > .dropdown-menu > .dropdown-menu-item > a:hover {
   color:  var(--color-white);
   background-color: var(--color-secondary);
}

/* contact section*/

.contact-container {
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    padding: 32px;
    margin: 40px auto;
}

.form-group {
    margin-bottom: 22px;
}

input, textarea{
    width: 100%;
    padding: 12px 16px;
    border: 1px solid #999;
    font-size: 16px;
    background-color: #f0f0f0;
}


textarea{
    resize: vertical;
    min-height: 120px;
    
}

/* hero section*/

h1{
    font-family: "Densa", "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2, h3, p{
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}



.hero-container {
    width: 100%;
    height: 100vh;
    padding: 0 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

button {
    width: 180px;
    color: var(--color-white);
    font-size: 20px;
    padding: 16px 20px;
    background: var(--color-primary);
    border: 0;
    margin-top: 30px;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
   color:  var(--color-white);
   background-color: var(--color-secondary);
}

.nav-container .background {
    position: fixed;
    z-index: 998;
    background-color: #00000071;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    visibility: hidden; 
    opacity: 0;
    transition: 0.3s ease in;
}

.nav-container .background.active {
    visibility: visible;
    opacity: 1;
    transition: 0.3s ease out;
}

.nav-container .open-menu {
    display: none;
    font-size: 24px;
    margin-bottom: 5px;
    color: var(--color-white);
}

.nav-container .close-menu {
    display: none;
    font-size: 24px;
    margin-bottom: 5px;
    color: var(--color-white);
}

@media (max-width: 992px){
    body {
        max-width: 992px;
        overflow: hidden;
    }

    .nav-container {
        justify-content: space-between;
        padding: 0 3rem;
    }

    .nav-links-container {
        position: fixed;
        right: -400px;
        visibility: hidden;
        width: 400px;
        height: 100vh;
        top: 0;
        overflow-y: auto;
        background-color: var(--color-primary);
        z-index: 999;
        padding: 15px;
        transition: all 0.3s ease-in;
        display: block;
        flex: unset;
        justify-content: flex-start;
    }

    .nav-container .nav-links-container.open {
    visibility: visible;
    transition: all 0.3s ease-out;
    right: 0;
    }

    .nav-links-container > .nav-links > .nav-link-item {
    display: block;
    margin: 0;
    }

    .nav-links-container > .nav-links > .nav-link-item > a {
        color: var(--color-white);
        padding: 24px 16px;
        border-bottom: 1px solid #ffffff20;
        display: flex;
        justify-content: space-between;
    }

    .nav-link-item:hover > a > .fa-chevron-down {
        transform: rotate(0);
    }

    .nav-container > .nav-links-container > .nav-links > .dropdown-menu-branch.active > a .fa-chevron-down {
        transform: rotate(-180deg);
    }

    .nav-links > .nav-link-item > .dropdown-menu {
        width: 100%;
        position: relative;
        opacity: 1;
        visibility: visible;
        border-radius: 0;
        border-bottom: 1px solid #ffffff20;
        background-color: transparent;
        transform: translateY(0px);
        box-shadow: none;
        padding: 0px;
        left: auto;
        max-height: 0;
        overflow: hidden;
    }

    .nav-links > .nav-link-item:hover > .dropdown-menu {
        transform: translateY(0px);
     }

    .nav-links > .nav-link-item > .dropdown-menu > .dropdown-menu-item > a {
        color: var(--color-white2);
        border: none;
    }
    nav-links 
    > .nav-link-item 
    > .dropdown-menu 
    > .dropdown-menu-item
    > a:hover {
    color: var(--color-white);
    }

    .nav-logo {
        padding: 1.5rem 0;
    }

    .nav-container .open-menu {
        cursor: pointer;
        display: block;
    }
    .nav-container .close-menu {
        display: block;
        padding: 16px;
        cursor: pointer;
        width: fit-content;
    }
}
